---
BasedOnStyle: LLVM
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
BinPackArguments: 'false'
BinPackParameters: 'false'
ColumnLimit: 100
Cpp11BracedListStyle: 'false'
IndentWidth: '4'
PointerAlignment: Right
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true

...
