printf("Note: ini.dts included\r\n");

// UNUSED


// --------------- ANIMATION [100001..100002] ---------------

#define DV_CMD_RETURN_NOREDRAW 100001
#define DV_CMD_RETURN_REDIRECT 100002


// --------------- FONT UTILITY [10001..10400] ---------------

#define DV_CMF_FILE_FONT_LOAD 10050
#define DV_CMF_FILE_FONT_LOAD_ADVANCED 10051
#define DV_CMF_FILE_LIST_LOAD 10055
#define DV_CMF_FILE_LIST_APPEND 10056
#define DV_CMF_FILE_LIST_SAVE 10057
#define DV_CMF_FILE_FONT_SAVE 10052
#define DV_CMF_FILE_FONT_SAVE_SUBSET 10053
#define DV_CMF_FILE_CLOSE 10054

#define DV_CMF_FONT_PREV 10102
#define DV_CMF_FONT_CHOOSE 10103
#define DV_CMF_FONT_NEXT 10104

#define DV_CMF_EDIT_COPY 10090
#define DV_CMF_EDIT_INSERT 10091
#define DV_CMF_EDIT_PRESERVE_FONT 10092

#define DV_CMF_VIEW_GLYPH_OUTLINE 10012
#define DV_CMF_VIEW_GLYPH_TABLE 10013
#define DV_CMF_VIEW_CHAR_TABLE 10014

/*
#define DV_CMF_VIEW_ZOOM_SET_ZOOM_FACTOR 10300
#define DV_CMF_VIEW_ZOOM_50 10301
#define DV_CMF_VIEW_ZOOM_75 10302
#define DV_CMF_VIEW_ZOOM_100 10303
#define DV_CMF_VIEW_ZOOM_150 10304
#define DV_CMF_VIEW_ZOOM_200 10305
#define DV_CMF_VIEW_ZOOM_250 10306
#define DV_CMF_VIEW_ZOOM_300 10307
#define DV_CMF_VIEW_ZOOM_400 10308
#define DV_CMF_VIEW_ZOOM_500 10309
#define DV_CMF_VIEW_ZOOM_OUT 10310
#define DV_CMF_VIEW_ZOOM_IN 10311
*/

#define DV_CMF_VIEW_SETTINGS 10100

#define DV_CMF_VIEW_HINT_NO 10350
#define DV_CMF_VIEW_HINT_HOR 10351
#define DV_CMF_VIEW_HINT_VER 10352
#define DV_CMF_VIEW_HINT_HOR_VER 10353

#define DV_CMF_VIEW_POINT_NO 10354
#define DV_CMF_VIEW_POINT_IDX 10355
#define DV_CMF_VIEW_POINT_X 10356
#define DV_CMF_VIEW_POINT_Y 10357
#define DV_CMF_VIEW_POINT_HZ 10358
#define DV_CMF_VIEW_POINT_VZ 10359

#define DV_CMF_VIEW_CHAR_PLANE_0 10361
#define DV_CMF_VIEW_CHAR_PLANE_1 10362
#define DV_CMF_VIEW_CHAR_PLANE_2 10363
#define DV_CMF_VIEW_CHAR_PLANE_3 10364
#define DV_CMF_VIEW_CHAR_PLANE_4 10365
#define DV_CMF_VIEW_CHAR_PLANE_5 10366
#define DV_CMF_VIEW_CHAR_PLANE_6 10367
#define DV_CMF_VIEW_CHAR_PLANE_7 10368
#define DV_CMF_VIEW_CHAR_PLANE_8 10369
#define DV_CMF_VIEW_CHAR_PLANE_9 10370
#define DV_CMF_VIEW_CHAR_PLANE_10 10371
#define DV_CMF_VIEW_CHAR_PLANE_11 10372
#define DV_CMF_VIEW_CHAR_PLANE_12 10373
#define DV_CMF_VIEW_CHAR_PLANE_13 10374
#define DV_CMF_VIEW_CHAR_PLANE_14 10375
#define DV_CMF_VIEW_CHAR_PLANE_15 10376
#define DV_CMF_VIEW_CHAR_PLANE_16 10377

#define DV_CMF_HELP_ABOUT_DTYPE_FONT_UTILITY 10400


// --------------- DOCUMENT EDITOR [1..418] ---------------

#define DV_CMD_MODE_PLACE 234
#define DV_CMD_MODE_SELECT_MOVE 235
#define DV_CMD_MODE_OBJ_EDIT 236
#define DV_CMD_MODE_TEXT_EDIT 237
#define DV_CMD_MODE_FORM_PLAY 238

#define DV_CMD_FILE_NEW 7
#define DV_CMD_FILE_OPEN 8
#define DV_CMD_FILE_OPEN_NO_AUTORUN 377
#define DV_CMD_FILE_OPEN_AS_READ_ONLY 273
#define DV_CMD_FILE_CLOSE 9
#define DV_CMD_FILE_PLACE_POWERDOC 11
#define DV_CMD_FILE_PLACE_POWERDOC_TEMPLATE 12
#define DV_CMD_FILE_PLACE_VERSAWRITE_OBJ 334
#define DV_CMD_FILE_PLACE_VERSAWRITE_COMPONENTS 333
#define DV_CMD_FILE_SAVE_AS_POWERDOC 14
#define DV_CMD_FILE_SAVE_AS_COMPACT_POWERDOC 15
#define DV_CMD_FILE_SAVE_AS_TEXT 328
#define DV_CMD_FILE_PAGE_SETTINGS 29
#define DV_CMD_FILE_PRINT 27
#define DV_CMD_FILE_EXIT 31

#define DV_CMD_NEW_DOC_FROM_VERSAWRITE_OBJ 336
#define DV_CMD_NEW_DOC_FROM_VERSAWRITE_COMPONENTS 335
#define DV_CMD_NEW_EMPTY_TEXT_DOC 299

#define DV_CMD_SAVE_C_CPP 112
#define DV_CMD_SAVE_C_CPP_WITH_POWERDOC 113

#define DV_CMD_SAVE_CS 114
#define DV_CMD_SAVE_CS_WITH_POWERDOC 115

#define DV_CMD_SAVE_VB 116
#define DV_CMD_SAVE_VB_WITH_POWERDOC 117

#define DV_CMD_SAVE_VB_SCRIPT 118
#define DV_CMD_SAVE_VB_SCRIPT_WITH_POWERDOC 119

#define DV_CMD_SAVE_JSCRIPT_JAVASCRIPT 120
#define DV_CMD_SAVE_JSCRIPT_JAVASCRIPT_WITH_POWERDOC 121

#define DV_CMD_SAVE_ASP_VB_SCRIPT 122
#define DV_CMD_SAVE_ASP_VB_SCRIPT_WITH_POWERDOC 123
#define DV_CMD_SAVE_ASP_JSCRIPT_JAVASCRIPT 125
#define DV_CMD_SAVE_ASP_JSCRIPT_JAVASCRIPT_WITH_POWERDOC 126

#define DV_CMD_SAVE_ASPNET_VB 127
#define DV_CMD_SAVE_ASPNET_VB_WITH_POWERDOC 128
#define DV_CMD_SAVE_ASPNET_JSCRIPT 130
#define DV_CMD_SAVE_ASPNET_JSCRIPT_WITH_POWERDOC 131
#define DV_CMD_SAVE_ASPNET_CS 133
#define DV_CMD_SAVE_ASPNET_CS_WITH_POWERDOC 134

#define DV_CMD_SAVE_JAVA 340
#define DV_CMD_SAVE_JAVA_WITH_POWERDOC 341

#define DV_CMD_SAVE_JSP_JAVA 343
#define DV_CMD_SAVE_JSP_JAVA_WITH_POWERDOC 344

#define DV_CMD_IMPORT_SIMPLE_TEXT_AREA 135
#define DV_CMD_IMPORT_TEXT_FLOW 136
#define DV_CMD_IMPORT_BMP 138
#define DV_CMD_IMPORT_PNG 139
#define DV_CMD_IMPORT_JPEG 140
#define DV_CMD_IMPORT_SHAPE_DEF_TABLE 142
#define DV_CMD_IMPORT_VECTOR_PICTURE 221

#define DV_CMD_EXPORT_TEXT_SELECTION 285
#define DV_CMD_EXPORT_PAGE_AS_BMP 143
#define DV_CMD_EXPORT_PAGE_AS_PNG 144
#define DV_CMD_EXPORT_PAGE_AS_JPEG 145
#define DV_CMD_EXPORT_PAGE_AS_RAW_24_BPP 146

#define DV_CMD_EDIT_UNDO 32
#define DV_CMD_EDIT_REDO 33
#define DV_CMD_EDIT_SELECT_ALL 35
#define DV_CMD_EDIT_CUT 37
#define DV_CMD_EDIT_COPY 38
#define DV_CMD_EDIT_PASTE 39
#define DV_CMD_EDIT_DELETE 40
#define DV_CMD_EDIT_MULTIPLY 41
#define DV_CMD_EDIT_CUT_IMGS 43
#define DV_CMD_EDIT_COPY_IMGS 44
#define DV_CMD_EDIT_PASTE_IMGS 45
#define DV_CMD_EDIT_DELETE_IMGS 46
#define DV_CMD_EDIT_MULTIPLY_IMGS 47
#define DV_CMD_EDIT_UNDO_REDO_SETTINGS 52
#define DV_CMD_EDIT_REFRESH_ALL_PANELS 225

#define DV_CMD_IMG_HIDE 53
#define DV_CMD_IMG_UNHIDE 54
#define DV_CMD_IMG_TO_TOP 56
#define DV_CMD_IMG_TO_BOTTOM 57
#define DV_CMD_IMG_ALIGN_LEFT 59
#define DV_CMD_IMG_ALIGN_RIGHT 60
#define DV_CMD_IMG_ALIGN_TOP 61
#define DV_CMD_IMG_ALIGN_BOTTOM 62
#define DV_CMD_IMG_MOVE_LEFT 64
#define DV_CMD_IMG_MOVE_RIGHT 65
#define DV_CMD_IMG_MOVE_UP 66
#define DV_CMD_IMG_MOVE_DOWN 67
#define DV_CMD_IMG_TRANSFORM 69
#define DV_CMD_IMG_RESET_TRANSFORM 70
#define DV_CMD_IMG_MAKE_GROUP 72
#define DV_CMD_IMG_DESTROY_GROUP 73

#define DV_CMD_IMG_LEFT 154
#define DV_CMD_IMG_RIGHT 155
#define DV_CMD_IMG_UP 156
#define DV_CMD_IMG_DOWN 157

#define DV_CMD_VIEW_MENUBAR 232
#define DV_CMD_VIEW_TOOLBAR 76
#define DV_CMD_VIEW_STATUS_BAR 77
#define DV_CMD_VIEW_VER_SCROLL_BARS 372
#define DV_CMD_VIEW_HOR_SCROLL_BARS 373
#define DV_CMD_VIEW_SETTINGS 79
#define DV_CMD_VIEW_RGB_PLUS_SURFACE 275
#define DV_CMD_VIEW_RGB_SURFACE 84
#define DV_CMD_VIEW_ALPHA_CHANNEL_SURFACE 85
#define DV_CMD_VIEW_IMG_ORIGINS 87
#define DV_CMD_VIEW_IMG_BOUNDARIES 88
#define DV_CMD_VIEW_EXTENT_BOX 89
#define DV_CMD_VIEW_GRID 90
#define DV_CMD_VIEW_PAGE_PREV 96
#define DV_CMD_VIEW_PAGE_NEXT 97
#define DV_CMD_VIEW_PAGE_GOTO 98

#define DV_CMD_VIEW_TEXT_LAYOUT_PRIMARY 425
#define DV_CMD_VIEW_TEXT_LAYOUT_SECONDARY 426

#define DV_CMD_VIEW_TEXT_MEDIUM 158
#define DV_CMD_VIEW_TEXT_HIGH 159
#define DV_CMD_VIEW_TEXT_VERY_HIGH 160
#define DV_CMD_VIEW_TEXT_DISPERSION_FILTER_1 162
#define DV_CMD_VIEW_TEXT_DISPERSION_FILTER_2 163
#define DV_CMD_VIEW_TEXT_HINT_FILTER_1 165
#define DV_CMD_VIEW_TEXT_HINT_FILTER_2 166
#define DV_CMD_VIEW_TEXT_HINT_FILTER_3 167
#define DV_CMD_VIEW_TEXT_HINT_FILTER_4 168
#define DV_CMD_VIEW_TEXT_LCD_RGB_SUB_1 170
#define DV_CMD_VIEW_TEXT_LCD_RGB_INT_1 171
#define DV_CMD_VIEW_TEXT_LCD_BGR_SUB_1 172
#define DV_CMD_VIEW_TEXT_LCD_BGR_INT_1 173
#define DV_CMD_VIEW_TEXT_LCD_RGB_SUB_2 175
#define DV_CMD_VIEW_TEXT_LCD_RGB_INT_2 176
#define DV_CMD_VIEW_TEXT_LCD_BGR_SUB_2 177
#define DV_CMD_VIEW_TEXT_LCD_BGR_INT_2 178
#define DV_CMD_VIEW_TEXT_LCD_RGB_SUB_3 180
#define DV_CMD_VIEW_TEXT_LCD_RGB_INT_3 181
#define DV_CMD_VIEW_TEXT_LCD_BGR_SUB_3 182
#define DV_CMD_VIEW_TEXT_LCD_BGR_INT_3 183
#define DV_CMD_VIEW_TEXT_LCD2_RGB_SUB_1 185
#define DV_CMD_VIEW_TEXT_LCD2_RGB_INT_1 186
#define DV_CMD_VIEW_TEXT_LCD2_BGR_SUB_1 187
#define DV_CMD_VIEW_TEXT_LCD2_BGR_INT_1 188
#define DV_CMD_VIEW_TEXT_LCD2_RGB_SUB_2 190
#define DV_CMD_VIEW_TEXT_LCD2_RGB_INT_2 191
#define DV_CMD_VIEW_TEXT_LCD2_BGR_SUB_2 192
#define DV_CMD_VIEW_TEXT_LCD2_BGR_INT_2 193

#define DV_CMD_VIEW_OUTPUT_TRADITIONAL_GRAYSCALE 194
#define DV_CMD_VIEW_OUTPUT_LCD_ENHANCED_A_RGB 196
#define DV_CMD_VIEW_OUTPUT_LCD_ENHANCED_B_RGB 197
#define DV_CMD_VIEW_OUTPUT_LCD_ENHANCED_C_RGB 198
#define DV_CMD_VIEW_OUTPUT_LCD_ENHANCED_D_RGB 199
#define DV_CMD_VIEW_OUTPUT_LCD_ENHANCED_A_BGR 201
#define DV_CMD_VIEW_OUTPUT_LCD_ENHANCED_B_BGR 202
#define DV_CMD_VIEW_OUTPUT_LCD_ENHANCED_C_BGR 203
#define DV_CMD_VIEW_OUTPUT_LCD_ENHANCED_D_BGR 204
#define DV_CMD_VIEW_OUTPUT_LCD2_ENHANCED_A_RGB 206
#define DV_CMD_VIEW_OUTPUT_LCD2_ENHANCED_B_RGB 207
#define DV_CMD_VIEW_OUTPUT_LCD2_ENHANCED_C_RGB 208
#define DV_CMD_VIEW_OUTPUT_LCD2_ENHANCED_D_RGB 209
#define DV_CMD_VIEW_OUTPUT_LCD2_ENHANCED_A_BGR 211
#define DV_CMD_VIEW_OUTPUT_LCD2_ENHANCED_B_BGR 212
#define DV_CMD_VIEW_OUTPUT_LCD2_ENHANCED_C_BGR 213
#define DV_CMD_VIEW_OUTPUT_LCD2_ENHANCED_D_BGR 214

#define DV_CMD_VIEW_RAST_ULTRAFAST 215
#define DV_CMD_VIEW_RAST_PERFECT 216
#define DV_CMD_VIEW_RAST_UNIVERSAL 217
#define DV_CMD_VIEW_RAST_UNIVERSAL_BW 218
#define DV_CMD_VIEW_RAST_ZOOM 219

#define DV_CMD_VIEW_ZOOM_SET_ZOOM_FACTOR 300
#define DV_CMD_VIEW_ZOOM_50 301
#define DV_CMD_VIEW_ZOOM_75 302
#define DV_CMD_VIEW_ZOOM_100 303
#define DV_CMD_VIEW_ZOOM_150 304
#define DV_CMD_VIEW_ZOOM_200 305
#define DV_CMD_VIEW_ZOOM_250 306
#define DV_CMD_VIEW_ZOOM_300 307
#define DV_CMD_VIEW_ZOOM_400 308
#define DV_CMD_VIEW_ZOOM_500 309
#define DV_CMD_VIEW_ZOOM_OUT 310
#define DV_CMD_VIEW_ZOOM_IN 311

#define DV_CMD_VIEW_ANIM_PLAY_OR_PAUSE 356
#define DV_CMD_VIEW_ANIM_PLAY 264
#define DV_CMD_VIEW_ANIM_PAUSE 228
#define DV_CMD_VIEW_ANIM_END 274
#define DV_CMD_VIEW_ANIM_RESET 357
#define DV_CMD_VIEW_ANIM_1_FPS 359
#define DV_CMD_VIEW_ANIM_2_FPS 360
#define DV_CMD_VIEW_ANIM_4_FPS 361
#define DV_CMD_VIEW_ANIM_8_FPS 362
#define DV_CMD_VIEW_ANIM_12_FPS 363
#define DV_CMD_VIEW_ANIM_24_FPS 364
#define DV_CMD_VIEW_ANIM_30_FPS 365
#define DV_CMD_VIEW_ANIM_35_FPS 366
#define DV_CMD_VIEW_ANIM_40_FPS 367
#define DV_CMD_VIEW_ANIM_45_FPS 368
#define DV_CMD_VIEW_ANIM_50_FPS 369
#define DV_CMD_VIEW_ANIM_55_FPS 370
#define DV_CMD_VIEW_ANIM_60_FPS 371
#define DV_CMD_VIEW_ANIM_OTHER 376
#define DV_CMD_VIEW_ANIM_VBSYNC 223
#define DV_CMD_TOOL_EXEC_PDSCRIPT 224

#define DV_CMD_VIEW_GRAY_COLOR_AVERAGING 229
#define DV_CMD_VIEW_GRAY_NORMALIZED 230
#define DV_CMD_VIEW_GRAY_R_CHANNEL 380
#define DV_CMD_VIEW_GRAY_G_CHANNEL 381
#define DV_CMD_VIEW_GRAY_B_CHANNEL 382
#define DV_CMD_VIEW_GRAY_INVERTED_COLOR_AVERAGING 383
#define DV_CMD_VIEW_GRAY_INVERTED_NORMALIZED 384
#define DV_CMD_VIEW_GRAY_INVERTED_R_CHANNEL 385
#define DV_CMD_VIEW_GRAY_INVERTED_G_CHANNEL 386
#define DV_CMD_VIEW_GRAY_INVERTED_B_CHANNEL 387
#define DV_CMD_VIEW_GRAY_Y_CHANNEL 406
#define DV_CMD_VIEW_GRAY_U_CHANNEL 407
#define DV_CMD_VIEW_GRAY_V_CHANNEL 408

#define DV_CMD_VIEW_DITHER_COLOR_AVERAGING 329
#define DV_CMD_VIEW_DITHER_NORMALIZED 330
#define DV_CMD_VIEW_DITHER_R_CHANNEL 388
#define DV_CMD_VIEW_DITHER_G_CHANNEL 389
#define DV_CMD_VIEW_DITHER_B_CHANNEL 390
#define DV_CMD_VIEW_DITHER_INVERTED_COLOR_AVERAGING 391
#define DV_CMD_VIEW_DITHER_INVERTED_NORMALIZED 392
#define DV_CMD_VIEW_DITHER_INVERTED_R_CHANNEL 393
#define DV_CMD_VIEW_DITHER_INVERTED_G_CHANNEL 394
#define DV_CMD_VIEW_DITHER_INVERTED_B_CHANNEL 395
#define DV_CMD_VIEW_DITHER_LEVELS_2 412
#define DV_CMD_VIEW_DITHER_LEVELS_3 413
#define DV_CMD_VIEW_DITHER_LEVELS_4 414
#define DV_CMD_VIEW_DITHER_LEVELS_5 415
#define DV_CMD_VIEW_DITHER_LEVELS_6 416
#define DV_CMD_VIEW_DITHER_LEVELS_7 417
#define DV_CMD_VIEW_DITHER_LEVELS_8 418

#define DV_CMD_VIEW_PANEL_SHOW_FOCUS_BOX 374
#define DV_CMD_VIEW_PANEL_SHOW_CURSOR_AND_TEXT_SELECTIONS 375

#define DV_CMD_PAGE_INSERT_PAGES 99
#define DV_CMD_PAGE_REMOVE_PAGES 100
#define DV_CMD_PAGE_SELECT_IMGS_BY_PAGE_RANGE 102

#define DV_CMD_TEXT_FORMAT 103
#define DV_CMD_TEXT_PROPERTIES 420
#define DV_CMD_TEXT_QUICK_FORMAT 220
#define DV_CMD_TEXT_USER_SPECIFIC_FORMAT 268
#define DV_CMD_TEXT_GET_TEXT_FORMAT 152
#define DV_CMD_TEXT_APPLY_TEXT_FORMAT 153
#define DV_CMD_TEXT_APPLY_MODIFIED_TEXT_FORMAT 298
#define DV_CMD_TEXT_INSERT_MATH_FORMULA 259
#define DV_CMD_TEXT_INSERT_USER_SPECIFIC_TEXT 269
#define DV_CMD_TEXT_INSERT_VERSAWRITE_OBJ 337
#define DV_CMD_TEXT_INSERT_TABLE 345
#define DV_CMD_TEXT_DELETE_MATRIX_TABLE_ROW 289
#define DV_CMD_TEXT_DELETE_MATRIX_TABLE_COL 290
#define DV_CMD_TEXT_INSERT_BEFORE_MATRIX_TABLE_ROW 291
#define DV_CMD_TEXT_INSERT_BEFORE_MATRIX_TABLE_COL 292
#define DV_CMD_TEXT_INSERT_AFTER_MATRIX_TABLE_ROW 421
#define DV_CMD_TEXT_INSERT_AFTER_MATRIX_TABLE_COL 422
#define DV_CMD_TEXT_MATRIX_SETTINGS 423
#define DV_CMD_TEXT_ROW_SETTINGS 346
#define DV_CMD_TEXT_COL_SETTINGS 347
#define DV_CMD_TEXT_CELL_SETTINGS 348
#define DV_CMD_TEXT_CELL_PROPERTIES 419
#define DV_CMD_TEXT_ADD_FORMAT_TO_USER_LIB 267
#define DV_CMD_TEXT_ADD_TEXT_TO_USER_LIB 260
#define DV_CMD_TEXT_EDIT_SETTINGS 270
#define DV_CMD_TEXT_IMMEDIATE_TEXT_REFLOW 51

#define DV_CMD_TEXT_SELECT_WORD 320
#define DV_CMD_TEXT_SELECT_WORDS 325
#define DV_CMD_TEXT_SELECT_LINE 321
#define DV_CMD_TEXT_SELECT_PARAGRAPH 322
#define DV_CMD_TEXT_SELECT_PARAGRAPHS 326
#define DV_CMD_TEXT_SELECT_AREA 323
#define DV_CMD_TEXT_SELECT_ALL 324
#define DV_CMD_TEXT_PASTE_OBJ_CLIPBOARD 147
#define DV_CMD_TEXT_PASTE_IMG_CLIPBOARD 148
#define DV_CMD_TEXT_PASTE_OS_CLIPBOARD_PLAIN_TEXT 150

#define DV_CMD_TEXT_INSERT_MATH_VECTOR 251
#define DV_CMD_TEXT_INSERT_MATH_FRACTION 242
#define DV_CMD_TEXT_INSERT_MATH_ROOT 243
#define DV_CMD_TEXT_INSERT_MATH_SUM_PRODUCT_STANDARD 244
#define DV_CMD_TEXT_INSERT_MATH_SUM_PRODUCT_EXPANDING 245
#define DV_CMD_TEXT_INSERT_MATH_INTEGRAL_STANDARD 246
#define DV_CMD_TEXT_INSERT_MATH_INTEGRAL_EXPANDING 247
#define DV_CMD_TEXT_INSERT_MATH_BRACKETS 248
#define DV_CMD_TEXT_INSERT_MATH_MATRICES 287
#define DV_CMD_TEXT_INSERT_MATH_OTHER 249

#define DV_CMD_TEXT_INSERT_FORM_BUTTON_RICH_BUTTON 250
#define DV_CMD_TEXT_INSERT_FORM_RADIO_BUTTON 252
#define DV_CMD_TEXT_INSERT_FORM_CHECK_BOX 253
#define DV_CMD_TEXT_INSERT_FORM_TEXT_BOX_RICH_TEXT_BOX 254
#define DV_CMD_TEXT_INSERT_FORM_LIST_BOX 255
#define DV_CMD_TEXT_INSERT_FORM_HOR_SLIDER 256
#define DV_CMD_TEXT_INSERT_FORM_VER_SLIDER 257
#define DV_CMD_TEXT_INSERT_FORM_ARROW_SETS 258
#define DV_CMD_TEXT_INSERT_FORM_OTHER 265

#define DV_CMD_TEXT_INSERT_CHAR_COL_BREAK 227
#define DV_CMD_TEXT_INSERT_CHAR_TAB_U0009 277
#define DV_CMD_TEXT_INSERT_CHAR_NEW_LINE_U000D 278
#define DV_CMD_TEXT_INSERT_CHAR_NO_BREAK_SPACE_U00A0 279
#define DV_CMD_TEXT_INSERT_CHAR_ZERO_WIDTH_SPACE_U200B 280
#define DV_CMD_TEXT_INSERT_CHAR_SOFT_HYPHEN_U00AD 281
#define DV_CMD_TEXT_INSERT_CHAR_NO_BREAK_HYPHEN_U2011 282
#define DV_CMD_TEXT_INSERT_CHAR_UNICODE_CHARS 284

#define DV_CMD_TEXT_INSERT_OBJ_BULLET_POINT_NON_EDITABLE 294
#define DV_CMD_TEXT_INSERT_OBJ_BULLET_POINT_EDITABLE 295
#define DV_CMD_TEXT_INSERT_OBJ_OTHER 297

#define DV_CMD_TOOL_STYLE_GENERATOR 104
#define DV_CMD_TOOL_TEXT_FLOW_AND_COL_BUILDER 106
#define DV_CMD_TOOL_POWERFONT_BUILDER 107
#define DV_CMD_TOOL_DOC_OPTIMIZER 109
#define DV_CMD_TOOL_PROP_AND_LINK_EXPLORER 110
#define DV_CMD_TOOL_APP_SETTINGS 231
#define DV_CMD_TOOL_VERSAWRITE_SERVICE 332
#define DV_CMD_TOOL_EXEC_PROG_1 349
#define DV_CMD_TOOL_EXEC_PROG_2 350
#define DV_CMD_TOOL_EXEC_PROG_3 351
#define DV_CMD_TOOL_EXEC_PROG 354
#define DV_CMD_TOOL_LOAD_AND_EXEC_PROG 353
#define DV_CMD_TOOL_EXIT_TO_CMD_SHELL 352
#define DV_CMD_TOOL_FONT_UTILITY 405

#define DV_CMD_HELP_ABOUT_DTYPE_POWERDOC_EDITOR 111
#define DV_CMD_HELP_WINDOWS_MONITOR 239
#define DV_CMD_HELP_DEBUG_DUMP_TEXT_FLOWS 400
#define DV_CMD_SIGNAL 401
#define DV_CMD_EXIT 402
#define DV_CMD_HELP_FILE_README 403
#define DV_CMD_HELP_FILE_LEGAL 404
